snippet main
	int main(){
		${1}

		return 0;
	}

snippet stdio
	#include <stdio.h>

snippet string
	#include <string.h>

snippet printf
	printf( ${1} );

snippet for
	for( int i = 0; ${1}; ${2} ){
		${3};
	}

